<nav class="navbar sticky-top main">
  <div class="container-fluid">
    <ul class="nav nav-pills nav-fill vw-100">

      <li class="nav-item text-start w-25">
        <% if nav == "menu" %>
          <button class="navbar-toggler border-0 text-light" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="30" fill="white" class="list" viewBox="2 2 10 10">
              <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"/>
            </svg>
          </button>
        <% elsif nav == "back" %>
          <%= link_to :back, class: 'nav-link' do %>
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="30" fill="white" class="arrow-left" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8"/>
            </svg>
          <% end %>
        <% elsif nav == "expenses" %>
          <%= link_to expenses_path, class: 'nav-link' do %>
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="30" fill="white" class="arrow-left" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8"/>
            </svg>
          <% end %>
        <% else %>
          <%= link_to categories_path, class: 'nav-link' do %>
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="30" fill="white" class="arrow-left" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8"/>
            </svg>
          <% end %>
        <% end %>
      </li>
      <li class="nav-item w-50">
        <h1 class="text-white pt-1 text-uppercase"><%= title %></h1>
      </li>
      <li class="nav-item w-25 pt-2 text-end fw-bold">
        <% unless !current_user %>
          <%= form_with url: destroy_user_session_path, method: :delete, class: 'd-inline' do %>
            <%= link_to "Log out", '#', onclick: 'parentNode.submit(); return false', class:'text-white' %>
          <% end %>
        <% end %>
      </li>
    </ul>
  </div>
</nav>
