<%= render partial: 'shared/nav', locals: { title: 'Expenses', nav: 'category', action: '' } %>
<div style="color: green"><%= notice %></div>

<div class="bg-white p-2 pt-3 pb-3 d-flex justify-content-between">
  <div class="t-three">Total amount for <%= @category.name %> category</div>
  <strong>$<%= @total_expenses %></strong>
</div>

<ul id="expenses" class="container bg-five pt-2">
  <% @expenses.each do |expense| %>
    <li class="bg-white mt-2 p-2">
      <%= render expense %>
    </li>
  <% end %>
</ul>

<nav class="sticky-bottom mt-auto second p-3">
  <div class="border border-light text-center">
    <%= link_to "Add a new expense", new_expense_path, class:"navbar-brand text-white" %>
  </div>
</nav>
